딕서너리 정렬하기


조건
1. 주어진 딕서너리는 다음과 같다
{'Marry':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115, 'Bob':5887, 'Kelly':7855}

2. 결과는 아래와 같이 나타낸다

첫번째 :  ['Aimy', 'Bob', 'Kelly', 'Marry', 'Michale', 'Sams', 'Tom']\
두번째 :  [('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Marry', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]\
세번째 :  [('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Marry', 10999), ('Tom', 20245), ('Michale', 27115)]\
네번째 :  [('Michale', 27115), ('Tom', 20245), ('Marry', 10999), ('Aimy', 9778), ('Kelly', 7855), ('Bob', 5887), ('Sams', 2111)]\

3.  네개의 출력을 print을 이용하여 화면에 출력한다.